<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="ion-text-center" size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>
  <p>Project app for class Programování mobilních aplikací.</p>
  <p>This application is used to display the current weather and to display the forecast for 3 days.
    The history tab shows the last 5 searches from each.</p>
  <p>Author: Radomír Húdek</p>
  
  
</ion-content>
