<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="ion-text-center" size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>
  <p>Projektová aplikácia pre klasifikovaný zápočet z predmetu Programování mobilních aplikací.</p>
  <p>Táto aplikácia sa používa pre zobrazenie aktuálneho počasia, ktoré môže byť uložená a bez toho aby sme ho znova vyhľadávali
    sa nám bude zobrazovať vždy aktuálne na Tab3(Me) - MyWeather. Tab2 slúži ako predpoveď počasia na 3 dni. Tab3 taktiež slúži
    ako zobrazovač historie posledných 5 vyhľadávaných v aktualnej session.
  </p>
  <p>Author: Radomír Húdek</p>
  
  
</ion-content>
