#button{
    text-align: center;
    padding-top: 10px;
  }

  #parent {
    display: flex;
  }
  #text {
    text-align: left;
    width: 165px;
  }
  #space {
    width: 5px;
  }
  #img {
    width: 64px;
  }
 
  #header {
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
  }

  p{
    font-size: 12px;
  }
  #datum{
    color: red;
  }