#container{
  text-align: center;
}
ion-button {
  display: inline-block;
}
  
  #favorite{
    text-align: center;
    padding-left: 20px;
  }

  #parent {
    display: flex;
  }
  #text {
    text-align: left;
    width: auto;
  }
  #space {
    width: 5px;
  }
  #img {
    width: 128px;
  }
 
  #header {
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
  }

  p{
    font-size: 12px;
  }
  #datum{
    color: red;
  }